body{
    background-image: url("background.jpg");
    background-size: cover;
}
#heading{
    background-color: #2a0b32;
    top: 0;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    color: white;
    position: fixed;
}
.column_1{
    width: 47.5%;
    margin: 10px;
    color: white;
    padding: 20px;
    text-align: left;
    float: left;
    animation-name: Glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes Glow{
    0%{box-shadow: 1px 1px 40px #da8d2d;}
    50%{box-shadow: 1px 1px 40px #ea6c98;}
    100%{box-shadow: 1px 1px 40px #842a9f;}
}
.image{
    float: left;
    margin-right: 10px;
}
.images{
    width: 200px;
}
.text{
    text-align:left;
}

  body::-webkit-scrollbar {
    width: 0.9em;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #ea6c98;
  }
  
  body::-webkit-scrollbar-track {
    background: #da8d2d;
  }
h5{
  font-size: 20px;
}
#result{
  background:#2a0b32;
  padding: 15px;
  font-size: 25px;
  width: 80%;
  color: white;  
  bottom: 10px;
}